.offset {
  margin-top: 0;
  padding-top: 270px;
  text-align: center;
  transition: .3s;
}

.header {
  position: fixed;
  width: 100%;
  height: 700px;
  font-weight: bold;
  text-align: center;
  background: gold;
  transition: .3s;
  // header shrinks when .small added to .header
  &.small {
    height: 70px;
    box-shadow: 0 0 5px rgba(black, .2);
    // when header.small also change page offset
    & ~ .offset {
      padding-top: 140px;
    }
    // when header.small change logo pad & font size
    .header_logo {
      padding-top: 20px;
      font-size: 20px;
      text-shadow: none;
    }
  }
}

.header_logo {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding-top: 80px;
  font-size: 50px;
  text-shadow: 3px 4px rgba(black, .1);
  transition: .3s;
}